<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs" />
  <targets>
    <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt"  encoding="windows-1251" />
    <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" encoding="windows-1251" />
    <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" encoding="windows-1251" />
    <target name="fileLogWarn" xsi:type="File" fileName="${logDirectory}/warn.txt" encoding="windows-1251" />
    <target name="fileLogError" xsi:type="File" fileName="${logDirectory}/error.txt" encoding="windows-1251"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}"/>
    <target name="fileLogFatal" xsi:type="File" fileName="${logDirectory}/fatal.txt" encoding="windows-1251" />
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" level="Warn" writeTo="fileLogWarn" />
    <logger name="*" level="Error" writeTo="fileLogError" />
    <logger name="*" level="Fatal" writeTo="fileLogFatal" />
  </rules>
</nlog>